# --- General / OS ---
.DS_Store
.env
.vscode/

# --- Java / Spring Boot (logistics-engine) ---
logistics-engine/target/
logistics-engine/.mvn/
logistics-engine/HELP.md
logistics-engine/.sts4-cache
logistics-engine/.classpath
logistics-engine/.project
logistics-engine/.settings/
logistics-engine/src/main/resources/application-local.yml

# --- Angular (route-optima-web) ---
route-optima-web/node_modules/
route-optima-web/dist/
route-optima-web/.angular/
route-optima-web/npm-debug.log
route-optima-web/yarn-error.log

# --- IDE Specific ---
.idea/
*.iws
*.iml
*.ipr

# Node
node_modules/
npm-debug.log*